/* resets the default margin values */
*{
    margin: 0;
    padding: 0;
}

/* global styles */
:root{
    --heading-font-family: 'Roboto', sans-serif;
}

/* Styles the hero section */
.hero-section{
    background-image: url("../images/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 310px;
    color: white;
}

/* Styles the heading */
#hero-section-heading{
    font-size: 52px;
    font-weight: normal;
    text-align: center;
    line-height: 100px;
    margin-top: 40px;
    font-family: var(--heading-font-family);
}

/* Styles the hero subheading */
#hero-section-subheading{
    margin-top: -10px;
}

/* Styles the mouse click */
#mouse-click{
    margin-top: 220px;
}

/* Styles the about us section */
.about-us{
    border-radius: 0;
    margin: 0;
    background-color: white;
    text-align: center;
}

/* Styles the services section */
.services{
    text-align: center;
    background-image: url("../images/backgrounds/s_image.jpg");
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    border-radius: 0;
    margin: 0;
}

.services-images-position{
    position: relative;
}

/* Styles the what we do section */
.what-we-do{
    background-color: white;
}

/* Styles the heading */
#what-we-do{
    text-align: center;
    margin-bottom: 50px;
}

/* Services images */
.services-images{
    align-items: center;
}

/* What we do icons */
.what-we-do-icons{
    display: flex;
    justify-content: center;
}

.what-we-do-icons-left{
    display: flex;
    justify-content: flex-start;
    position: relative;
    right: 50px;
}

.what-we-do-icons-right{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 100px;
}

/* Styles the what we do icons text */
.what-we-do-icons h5{
    font-weight: 100;
    margin-top: 10px;
}

/* Design */
.design-description{
    display: none;
}

/* dev */
.dev-description{
    display: none;
}

/* product image */
.product-description{
    display: none;
}

/* icon headings */
.icon-headings h5{
    font-weight: bold;
}

/* icon descriptions */
.icon-descriptions{
    text-align: center;
}

/* Styles the portfolio heading */
#portfolio-heading{
    text-align: center;
    margin-bottom: 20px;
}

/* portfolio images */
.portfolio-images > :first-child{
    background-image: url("../images/portfolio/work1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.portfolio-images > :nth-child(2){
    background-image: url("../images/portfolio/work2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.portfolio-images > :nth-child(3){
    background-image: url("../images/portfolio/work3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.portfolio-images > :nth-child(4){
    background-image: url("../images/portfolio/work4.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* adds overlay to all work containers */
.work1, .work2, .work3, .work4{
    background-color: rgba(0, 0, 0, .7);
    height: 200px;
    width: 245px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* adds border to work 1 */
.work1 > h4, .work2 > h4, .work3 > h4, .work4 > h4{
    border: solid white 3px;
    box-sizing: border-box;
    width: 200px;
    height: 150px;
    padding: 20px;
    color: white;
}
